<p id="notice"><%= notice %></p>

<p>
  <strong>Schoolid:</strong>
  <%= @subject.schoolID %>
</p>

<p>
  <strong>Studentid:</strong>
  <%= @subject.studentID %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @subject.gender %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @subject.grade %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @subject.birthdate %>
</p>

<p>
  <strong>Other:</strong>
  <%= @subject.other %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
